body {
  min-width: 320px;
  /* background: rgb(0 0 0 / 97%) !important;*/
  margin: 0;
  background-attachment: fixed;
}

a,
button {
  color: white;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to left, #06111ed6 42%, #0a76fc14 100%);
  z-index: -1;
  /* Coloca el pseudo-elemento detrás del contenido del body */
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: linear-gradient(260deg, #4594eb8a 0%, rgb(23 7 55 / 0%) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-top: -5%;
  z-index: -1;
}


.btn_contac_banner {
  background: #241E2F;

  border: none;
  padding: 15px;
  border-radius: 30px;
  width: 170px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: 300ms;
}

.btn_contac_banner:hover {
  background: #32224d;
}

/*
  body {
    min-width:  375px;
    background: #101010;
  }
*/
.container {}

/*Franja superior*/
.header-franja {
  background: #fd4909;
  height: 60px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/*Nav*/
.nav-item {
  font-weight: 400;

}

.bg-body-tertiary {
  padding-inline: 60px;
  background: none !important;
}

.nav-link {}

.navbar-nav {
  text-align: center;
  gap: 21px;
}

.collapse {
  justify-content: flex-end;
}

.nav-link:focus {
  color: #fd4a09 !important;
}

/*  .navbar {
  --bs-navbar-active-color:#fd4a09 !important;
  }*/
.dropdown-menu {
  background: #0e1f33 !important;
  --bs-dropdown-link-active-bg: #fd4909 !important;
  --bs-dropdown-link-hover-bg: none !important;
}

.dropdown-menu li a {
  color: white !important;
}



/*
  .arrow {
    z-index: 999;
    margin: 10px;
    position: absolute;
    border-radius: 100%;
    padding: 10px;
    background: white;
  }

  .left {
    right: 0;
  }
*/
.servicios {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.servicio {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

/*SLIDER */
/* .slider {
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }

  .img-slide {
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .info-slider {
    position: relative;
    z-index: 999;
  }

  .title-c {
    font-family: "Exo 2", sans-serif;
    font-size: 60px;
  }

  .cont {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  .slick-prev,
  .slick-next {
    font-size: 0;
  }*

  .slick-track {
    height: 100%;
  }

  .draggable {
    height: 100%;
  }

  .btn_contac {
    background: orangered;
    border-radius: 1px;
    width: 200px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
*/
/*banner secundario*/
.reasons-section {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Outfit", sans-serif;
}

.cont_glass {
  /* background: url(glass.png);*/
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  justify-content: center;

  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  gap: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.highlight-text {
  color: #fd4a09;
  font-weight: 600;
  font-size: 20px;
}

.title-text {}

.description-text {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.reason {
  display: flex;
  gap: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.reason-text h4 {
  margin: 0;
}

.reason-text span {
  /* font-family: "Jost", sans-serif;*/
  display: block;
  margin-top: 5px;
  font-weight: 300;
  font-size: 14px;

}

.color-block {
  height: 100%;

}

.valor {
  width: 134px;
}

.navbar-toggler {
  background-color: #fd4909;
}

.navbar-toggler-icon {

  background-image: url(menu_icon.png) !important;
}

.nav-link:hover {
  color: #fd4909 !important;
}

.box-naranja {
  background: url(franja_naranja.png);
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-size: cover;
  color: white;
}

.equipo-slider {
  position: relative;
  margin-top: 50px;
  margin-bottom: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  mask-image: var(--mask-image) ;
}


.fade-out {
  position: absolute;
  z-index: 1;
}

.fade-out.left,
.fade-out.right {
  top: 0;
  bottom: 0;
  width: 50px; /* Ajusta según necesites */
}

.fade-out.left {
  left: 0;
  background: var(--background-right);
}

.fade-out.right {
  right: 0;
  background: var(--background-left);
}

.fade-out.top,
.fade-out.bottom {
  left: 0;
  right: 0;
  height: 50px; /* Ajusta según necesites */
}

.fade-out.top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.fade-out.bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.swiper-button-prev, .swiper-button-next{
  filter: var(--ms-filter);
}

@media (max-width: 537px) {
  .equipo-slider{
  
  }
  .box-naranja {
    padding: 30px;
  }

  .header-franja {
    display: none !important;
  }

  .bg-body-tertiary {
    padding-inline: 0px !important;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  .content-container {
    padding-inline: 10px;
  }
  .sub-box{
    padding: 0px !important;
  }
}



@media (max-width: 991px) {
  .section-about {
    gap: 30px !important;
  }

  .img-about {
    width: 86% !important;
  }

  .descript-about {
    text-align: center;

  }

  .info-header {
    align-items: center !important;
    padding-inline: 31px !important;
    gap: 24px !important;
    font-size: 11px;
    justify-content: center;
  }

  .redes-content {
    display: none !important;
  }

  .container-miembros-1 {
    display: none;
  }

  .equipo-slider {
    display: block !important;
  }
}

@media(min-width: 1021px) {

  /* Hacer que el dropdown se muestre al pasar el ratón (hover) */
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* Evitar el pequeño desplazamiento hacia abajo */
    transition: 0.3s ease-in-out;
    /* Transición suave */
  }
}











/*EFECTO PARA NAVBAR*/

/* Efecto de background para las opciones del dropdown */
.dropdown-menu .dropdown-item {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
  /* Transición de color para que coincida con el efecto de background */
}

.dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fd4909;
  /* Color de fondo completado */
  transition: width 0.4s ease;
  /* Suavidad al cambiar el ancho del fondo */
  z-index: -1;
  /* Poner el fondo detrás del texto */
}

.dropdown-menu .dropdown-item:hover::before {
  width: 100%;
  /* Al hacer hover, el fondo se llena (ancho al 100%) */
}

.dropdown-menu .dropdown-item:hover {
  color: #fff;
  /* Cambiar el color del texto mientras el fondo está lleno */
}

.dropdown-menu .dropdown-item::before {
  width: 0;
  /* Inicialmente, el fondo no está lleno */
}

.dropdown-menu .dropdown-item:hover::before {
  width: 100%;
  /* Se llena el fondo */
}

/* El fondo se reduce nuevamente al dejar de hacer hover */
.dropdown-menu .dropdown-item {
  transition: color 0.4s ease, background-color 0.4s ease;
}

@media(max-width: 370px) {

  .navbar-collapse {
    overflow: hidden;
  }

  .dropdown {
    width: 100%;
  }

}



/*CAMBIO DE TEMA*/
nav .nav-link {
  transition: color 0.3s ease;
}

/* Tema claro (por defecto) */
body.light-theme nav .nav-link {
  color: #000;
  /* Letras negras en el tema claro */
}

/* Tema oscuro */
body.dark-theme nav .nav-link {
  color: #fff;
  /* Letras blancas en el tema oscuro */
}




body {
  transition: background-color 0.3s, color 0.3s;

}

/* Definición de variables del tema claro (por defecto) */
:root {
  --background-image: url('bg_blanck3.png');
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #000000;
  --ms-filter: invert(100%) brightness(0%);
  --background-right: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --background-left: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --mask-image:linear-gradient(to bottom, transparent, black 0%, black 100%, transparent);
}

/* Tema oscuro */
body.dark-theme {
  --background-image: url('bg_blanck_darck3.png');
  --background-color: #0a081af2;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --ms-filter:none;
  --background-right: linear-gradient(to right, rgb(22 20 37), rgba(255, 255, 255, 0));
  --background-left: linear-gradient(to left, rgb(22 20 37), rgba(255, 255, 255, 0));
  --mask-image:linear-gradient(to bottom, transparent, black 12%, black 100%, transparent);
}

body {

  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--primary-color);

}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}

/* Estilos para el switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c5c0c0;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked+.slider {
  background-color: #32224d;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

/* Estilos para el slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media(max-width: 1140px) {
  .theme-switch-wrapper {
    display: none !important;
  }
}








/*btn footer*/
#scrollTopBtn {
  position: fixed;
  /* Fijo en la pantalla */
  bottom: 20px;
  /* Separación desde abajo */
  right: 20px;
  /* Separación desde la derecha */
  display: none;
  /* Oculto por defecto */
  background-color: #fd4909;
  /* Color de fondo */
  color: white;
  /* Color de texto */
  border: none;
  /* Sin borde */
  padding: 10px;
  /* Relleno del botón */
  font-size: 18px;
  /* Tamaño del texto */
  border-radius: 5px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor a un puntero */
  z-index: 100;
  /* Asegura que el botón esté por encima de otros elementos */
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#scrollTopBtn:hover {
  background-color: #555;
  /* Color al pasar el ratón por encima */
}

















.element {
  overflow: hidden;
  /* Asegura que los elementos no sobresalgan */
}

.sec1 {
  opacity: 0;
  /* Comienzan invisibles */
  transform: translateY(100%);
  /* Posición inicial fuera del viewport, hacia abajo */
  transition: opacity 1000ms ease, transform 1000ms ease;
  /* Transiciones suaves */
}



/* Estilos generales para las secciones */
.sec1 {
  opacity: 0; /* Comienzan invisibles */
  transition: opacity 1000ms ease; /* Transición de opacidad común */
}

/* Efecto Fade */
.fade {
  transform: translateX(100%); /* Posición inicial fuera del viewport, hacia la derecha */
}

/* Efecto Up */
.up {
  transform: translateY(100%); /* Posición inicial fuera del viewport, hacia abajo */
}

/* Efecto Show */
.show {
  transform: scale(0); /* Escala inicial en 0 */
}

/* Al entrar en el viewport, se aplican las transformaciones */
.element.in-view .sec1 {
  opacity: 1; /* Hacer visible */
  transition: opacity 1000ms ease, transform 1000ms ease; /* Transiciones de opacidad y transformación */
}

.element.in-view .fade {
  transform: translateX(0); /* Volver a su posición original */
}

.element.in-view .up {
  transform: translateY(0); /* Volver a su posición original */
}

.element.in-view .show {
  transform: scale(1); /* Volver a su tamaño original */
}